body {
  font-family: 'Roboto', sans-serif; }

div.home {
  background-image: url("/img/homebg.jpg");
  background-size: cover;
  width: 100%;
  height: 750px; }

div.home h1 {
  font-weight: 800;
  color: #ffffff; }

div.home p {
  color: #ffffff;
  font-weight: 400; }

hr.home {
  height: 2px;
  width: 85px;
  margin: 50px auto 40px auto;
  background: #ffffff; }

div.home-text {
  margin-top: 10%; }

div.help {
  width: 100%;
  height: auto;
  background: url(/img/heretohelpbg.jpg) no-repeat top center;
  background-size: cover; }

.main_creativity {
  margin: 200px auto; }

div.creativity {
  width: 100%;
  height: auto;
  background: url(/img/creativitybg.jpg) no-repeat top center;
  background-size: cover;
  margin-bottom: 50px; }

.btn {
  display: inline-block;
  min-width: 230px;
  padding: .4em;
  height: 45px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  font-size: 1.875rem;
  border-radius: 0px;
  margin-top: 20px;
  background-color: transparent;
  border: 0px; }

.btn-large {
  border: 2px solid #fff;
  color: #fff;
  padding: 2rem 3rem;
  max-width: 430px;
  height: 100px; }

.btn:hover {
  background-color: #d87843;
  color: #fff;
  text-decoration: none; }

hr.intro {
  height: 2px;
  width: 85px;
  margin: 50px auto 40px auto;
  background: #1d1e1f; }

.intro_title h2 {
  font-size: 1.625rem;
  color: #222222;
  font-weight: 900; }

.intro_title p {
  font-size: 1.375rem;
  color: #222222;
  line-height: 2rem;
  width: 75%;
  margin: 0 auto; }

.main_intro {
  padding-top: 120px;
  padding-bottom: 120px; }

.btn-md {
  border: 2px solid #000;
  color: #222;
  padding: 0.4rem 2rem;
  height: 60px;
  margin: 0 auto; }

.btn-md:hover {
  cursor: pointer; }

.portfolio_btn {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  align-content: center;
  margin-bottom: 50px; }

/*client*/
.client {
  background: lightgray; }

.client .single_client_logo {
  float: left;
  padding: 5px;
  margin: 0;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding-bottom: 40px; }

.client_row {
  margin: 0 auto; }

.single_client_logo:hover {
  -webkit-filter: none;
  filter: grayscale(0%); }

.client_title {
  padding-top: 50px; }

.team_txt {
  padding-top: 30px;
  border: 2px solid black;
  height: 100%; }

div.video {
  background: url(/img/videobg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 150px; }

.icon {
  margin: 250px auto 40px auto; }

div.quote {
  width: 100%;
  height: auto;
  background: url(/img/quotebg.jpg) no-repeat top center;
  background-size: cover;
  margin-top: 100px; }

div.address h4 {
  font-weight: 900;
  color: #4b5257; }

i.contact {
  font-size: 36px;
  margin-right: 15px; }

//div.main_contact {
//  padding: 90px;
//  background-color: #e4e4e4; }

.scrollup {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  opacity: .3;
  position: fixed;
  bottom: 20px;
  right: 25px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  z-index: 1000; }

.scrollup:hover {
  background: #d87843;
  opacity: 1; }

.scrollup i {
  font-size: 18px;
  position: absolute;
  opacity: 1;
  color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -9px;
  text-decoration: none; }

.dropdown {
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 1100; }

.hamburger {
  color: #fff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px gray; }

.navbar-toggler:hover {
  font-size: 1.55em; }

.address-list {
  list-style: none;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1em; }

.address-list li {
  padding: 5px; }

.footer {
  background: #222222; }

.main_footer {
  padding: 100px 0px; }

.copyright_text p {
  color: #aaa79e;
  font-size: 1em;
  line-height: 25px;
  padding: 40px;
  max-width: 100%; }

.copyright_text p i {
  padding: 0px 10px;
  color: #ff0000;
  font-size: 1.8em; }

.copyright_text p a {
  padding: 0px 10px;
  color: #d87843; }

.dropdown-item {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em; }

a.dropdown-item:hover {
  background-color: #d87843;
  color: #fff;
  font-weight: 600; }

.btn.filter-button {
  min-width: 150px; }

.filter-button {
  font-size: 17px;
  border: 2px solid #1d1e1f;
  text-align: center;
  color: #1d1e1f;
  margin-bottom: 10px; }

.filter-button:hover {
  font-size: 18px;
  border: 2px solid #1d1e1f;
  text-align: center;
  color: #ffffff;
  background-color: #d87843;
  cursor: pointer; }

.btn-default:active .filter-button:active {
  background-color: #d87843;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 10px; }

div.portfolio-list {
  margin-bottom: 20px; }
button.navbar-toggler:hover {
  cursor: pointer;
}
.form-control:focus {
  border: 3px solid #5cb3fd;
  font-style: italic;
}
.gallery_product{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 104%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4b5257;
  transition: 0.5s;
}

.gallery_product:hover .overlay {
  opacity: 0.6;
}
.gallery_product:hover .text {
  opacity: 1;
}
.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}
hr.portfolio {
  height: 3px;
  width: 60%;
  background-color: #d87843;
}
.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #5cb3fd;
  border-radius: 0;
}
div.address {
  background-color: #999999;
  padding: 90px;
}
div.message {
  background-color: #ebebeb;
  padding: 90px;
}
i.contact {
  color: #292b2c;
}
i.contact:hover {
  color: #d87843;
  transition: 0.5s;
}
.address-list {
  list-style: none;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 200;

}

.address-list li {
  padding: 15px;
}
.main_footer {
  padding: 40px 0px;
}
.form-group {
  margin-bottom: 2rem;
}
.btn.blue:hover {
  font-style: italic;

}
//.team_person:hover .overlay {
//  opacity: 0.6;
//}

.team:hover .text {
  opacity: 1;
}
.team:hover {
  cursor: pointer;
}
.hi {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  z-index: 2;
}
.hi span {
  color: #ff0;
  cursor: pointer;
  text-decoration: underline;
}
.hi em {
  font-style: normal;
}
.hi em.hidden {
  display: none;
}
.tv {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 3px gray;
}
.tv .screen {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .5s;
}
.tv .screen.active {
  opacity: 1;
}
.row.snow {
  height: 600px;
}
.team:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 1s;
}
.team:hover .text {
  opacity: 1;
  transition: 0.5s;
}
.btn-team {
  min-width: 70%;
}
.derek {
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px gray;
  margin-top: 150px;
}
.navbar-toggler:hover {
  font-size: 1.4em;
}